*{
    margin:0;
    padding:0;
}

.main_block{
    position: fixed;
    z-index: 101;
    background-color: rgba(15, 15, 15,0.7);
    width:100%;
    height:100%;
    top:1px;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.video1{
    -o-object-fit: cover;
      object-fit: cover;
    position:fixed; 
    z-index:100; 
    width:100%;
    height:100%;
    top: 0;
      left: 0;
}

.img1{
    width:10vh;
    height:10vh;
    position: absolute;
    z-index: 102;
}

.logo{
    position:absolute;
    z-index: 102;
    left:10vh;
    color:rgba(255, 255, 255, 1);
    text-shadow: 2px 0 2px rgb(0, 0, 0),
    0 2px 2px rgb(0, 0, 0),
    -2px 0 2px rgb(0, 0, 0),
    0 -2px 2px rgb(0, 0, 0);
    font-family:Tahoma, Verdana, Geneva, sans-serif;
    font-size:8vh;
}

.menu{
    position: absolute;
    z-index: 102;
    width:20%;
    height:75%;
    top:26%;
    left:4%;
}

.romb,.romb2,.romb3,.romb4 {
    width: 0; 
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: #ff0000;
    position: relative; 
    top:10vh;
    transition:0.5s all ease;
}
.romb:after,.romb2:after,.romb3:after,.romb4:after{
    content: "";
    width: 0; 
    height: 0;
    position: absolute; 
    left: -12px; 
    top: 12px;
    border: 12px solid transparent;
    border-top-color: #ff0000;
    transition:0.5s all ease;
}

.menu12{
    position: absolute;
    color:red;
    font-family:Tahoma, Verdana, Geneva, sans-serif;
    font-size:16vh;
    left:6vh;
}

.menu12:hover{
    transform: translate(30px);
    color:rgb(0, 189, 189);
}

.menu13,.menu14,.menu15{
    position: absolute;
    top:20vh;
    left:6vh;
    color:rgb(255, 255, 255);
    font-family: Tahoma,Verdana, Geneva, sans-serif;
    font-size:9vh;
}

.menu13:hover,.menu14:hover,.menu15:hover{
    color:rgb(0, 189, 189);
    transform: translate(30px);
}

body:has(.menu12:hover) .romb {
    border-bottom-color: rgb(0, 189, 189);
    transform: rotate(360deg);
}
body:has(.menu12:hover) .romb:after {
    border-top-color: rgb(0, 189, 189);
    transform: rotate(360deg);
}

body:has(.menu13:hover) .romb2 {
    border-bottom-color: rgb(0, 189, 189);
    transform: rotate(360deg);
}
body:has(.menu13:hover) .romb2:after {
    border-top-color: rgb(0, 189, 189);
    transform: rotate(360deg);
}

body:has(.menu14:hover) .romb3 {
    border-bottom-color: rgb(0, 189, 189);
    transform: rotate(360deg);
}
body:has(.menu14:hover) .romb3:after {
    border-top-color: rgb(0, 189, 189);
    transform: rotate(360deg);
}

body:has(.menu15:hover) .romb4 {
    border-bottom-color: rgb(0, 189, 189);
    transform: rotate(360deg);
}
body:has(.menu15:hover) .romb4:after {
    border-top-color: rgb(0, 189, 189);
    transform: rotate(360deg);
}








.special{
    position: fixed;
    border:white 1px solid;
    width:40vh;
    height:60vh;
    top:15%;
    left:75%;
    transition:all 0.5s ease;
}

.special:hover{
    transform: scale(110%);
}

.img2{
    width:100%;
    height:100%;
}



/* .slider{
    width:40vh;
    height:15vh;
    border:white 1px solid;
    top: 78%;
    left: 75%;
    position: fixed;
}

.list{
    width:40vh;
    height:15vh;
    border:white 1px solid;
    top: 78%;
    left: 75%;
    position: fixed;
}

.list_blood, .list_unban,.list_rubin,.list-donate{
    width:100%;
    height:100%;
    position: absolute;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    z-index: 0;
    display:none;
}


.circles{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    text-align: center;
}

.choose4,.choose3,.choose2,.choose1 {
    background: rgba(15, 15, 15,0);
    border: 3px solid #3766ef;
    border-radius: 50%;
    height: 1vh;
    width: 1vh;
    position: absolute;
    top:16vh;
}

.choose1:focus{
    background: rgb(223, 248, 0);
    outline:none;
}

body:has(.choose2:focus) .list-donate {
    z-index:2;
}

body:has(.choose2:focus) .list-rubins {
    z-index:1;
} */

  
#slider-wrapper {
    width: 40vh;
    height: 15vh;
    border:white 1px solid;
    top: 78%;
    left: 75%;
    position: fixed;
  
  }
  
  #s1 {
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
    background: rgba(15, 15, 15,0);
    border: 3px solid #3766ef;
    border-radius: 50%;
    height: 1vh;
    width: 1vh;
    position: absolute;
    top:17vh;
    left:13vh;
  }
  
  #s2 {
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
    background: rgba(15, 15, 15,0);
    border: 3px solid #3766ef;
    border-radius: 50%;
    height: 1vh;
    width: 1vh;
    position: absolute;
    top:17vh;
    left:17vh;
  }
  
  #s3 {
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
    background: rgba(15, 15, 15,0);
    border: 3px solid #3766ef;
    border-radius: 50%;
    height: 1vh;
    width: 1vh;
    position: absolute;
    top:17vh;
    left:21vh;
  }
  
  #s4 {
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
    background: rgba(15, 15, 15,0);
    border: 3px solid #3766ef;
    border-radius: 50%;
    height: 1vh;
    width: 1vh;
    position: absolute;
    top:17vh;
    left:25vh;
  }
  
  #s1:hover,
  #s2:hover,
  #s3:hover,
  #s4:hover {
    opacity: .50;
  }
  
  .inner-wrapper {
    width: 40vh;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0px;
    overflow: hidden;
  }
  
  .control {
    display: none;
  }
  
  #Slide1:checked ~ .overflow-wrapper {
    margin-left: 0%;
  }
  
  #Slide2:checked ~ .overflow-wrapper {
    margin-left: -100%;
  }
  
  #Slide3:checked ~ .overflow-wrapper {
    margin-left: -200%;
  }
  
  #Slide4:checked ~ .overflow-wrapper {
    margin-left: -300%;
  }
  
  #Slide1:checked + #s1 {
    opacity: 1;
    background: rgb(229, 255, 0);
  }
  
  #Slide2:checked + #s2 {
    opacity: 1;
    background: rgb(229, 255, 0);
  }
  
  #Slide3:checked + #s3 {
    opacity: 1;
    background: rgb(229, 255, 0);
  }
  
  #Slide4:checked + #s4 {
    opacity: 1;
    background: rgb(229, 255, 0);
  }
  
  .overflow-wrapper {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .slide img {
    width: 25%;
    height:75%;
    float: left;
  }